In [1]:
import cv2
from ultralytics import YOLO

In [12]:
str = 'Jajang Angkat Tangan'
behavior = str.find('Angkat Tangan')
print(str[:behavior - 2])

Jajan

In [2]:
ternary_test = 'true' if True == True else 'False'
print(ternary_test)

true

In [ ]:
sql_query = "INSERT INTO perilaku_murid_belajar (nama, perilaku, gambar, timestamp) VALUES (%s, %s, %s, %s)"
print(sql_query, ('tet55', 'dfhdfjghfjd', 'hfdgdfhgjf', 'djfgjfdhg'))

In [32]:
sql_query = 'INSERT INTO perilaku_murid_{} (nama, perilaku, gambar, timestamp) VALUES ({}, {}, {}, {})'.format('ujian' if True ==False else 'belajar', 'jajang', 'bangun', 'pic', 'waktu')
print(sql_query)

INSERT INTO perilaku_murid_belajar (nama, perilaku, gambar, timestamp) VALUES (jajang, bangun, pic, waktu)

In [148]:
from datetime import datetime
print(datetime.now().strftime('%H:%M:%S'))
print(datetime(2000, 8, 7, 23, 0, 0).strftime('%H:%M:%S'))
now = datetime.now().strftime('%H:%M:%S')
telat = datetime(2000, 8, 7, 23, 0, 0).strftime('%H:%M:%S')
# print(datetime(2000, 8, 7, 24, 0,1).strftime('%H:%M:%S') < telat)
print(datetime.now().date())

12:09:12
23:00:00
2023-08-19

In [328]:
import mysql.connector
from datetime import timedelta
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="murid"
)

cursor = db.cursor()
print(datetime.now())

cursor.execute("UPDATE perilaku_murid_belajar SET nama=%s WHERE Perilaku=%s" %('jng', 'ngantuk'))
db.commit()


results = cursor.fetchall()

# for data in results:
#     for i in data:
#         print(i > datetime.now())
# date = (datetime(2000, 8, 7, 23, 0, 29) - results[0]).total_seconds() > 30
print("INSERT INTO perilaku_murid_belajar (nama, perilaku, gambar, timestamp) VALUES (%s, %s, %s, %s)" %('learn' if True == True else 'exam', 'test', 'test gamabr', 'timestamp'))

2023-08-19 16:09:26.519589
INSERT INTO perilaku_murid_belajar (nama, perilaku, gambar, timestamp) VALUES (learn, test, test gamabr, timestamp)